<div class="container">
    
    <h1>Producto nuevo</h1>
    
    <br>
    <form action="">
        <div class="form-group">
        <label for="producto"class="field">Nombre</label>
        <input  type="text" id="nombre" name="nombre" [(ngModel)]="productoNuevo.nombre" class="field" >
        <br>
        </div>
        <div class="form-group">
        <label for="material"class="field">Material</label>
        <select name="miselect" [(ngModel)]="productoNuevo.material" class="field">
        <option [value]="item" *ngFor="let item of listaMaterial">{{item}}</option>
        </select>
        <br>
    </div>
    <div class="form-group">
        <label for="tipo"class="field">Tipo</label>
        <select name="miselect" [(ngModel)]="productoNuevo.tipo" class="field">
            <option [value]="item" *ngFor="let item of listaTipo">{{item}}</option>
            </select>
        <br>
    </div>
    <div class="form-group">
        <label for="precio"class="field">Precio</label>
        <input type="number" id="precio" name="precio" [(ngModel)]="productoNuevo.precio" class="field">
        <br>
    </div>
    <div class="form-group">
        <label for="consumidor"class="field">Consumidor</label>
        <input type="text" id="consumidor" name="consumidor" [(ngModel)]="productoNuevo.consumidor" class="field">
        <br>
    </div>
    <div class="form-group">
        <label for="referencia"class="field">Referencia</label>
        <input type="text" id="referencia" name="referencia" [(ngModel)]="productoNuevo.referencia" class="field">
        <br>
    </div>
    <div class="form-group">
        <label for="color"class="field">Color</label>
        <input type="text" id="color" name="color" [(ngModel)]="productoNuevo.color" class="field">
        <br>
    </div>
        <button class="btn btn-primary" (click)="agregarProducto()">Guardar</button>
    </form>
</div>



